{% extends 'base.html.twig' %}

{% block title %}EmailGroup index{% endblock %}

{% block body %}
    <h1>EmailGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email_group in email_groups %}
            <tr>
                <td>{{ email_group.id }}</td>
                <td>{{ email_group.name }}</td>
                <td>{{ email_group.status }}</td>
                <td>{{ email_group.createdAt }}</td>
                <td>{{ email_group.updatedAt }}</td>
                <td>
                    <a href="{{ path('email_group_show', {'id': email_group.id}) }}">show</a>
                    <a href="{{ path('email_group_edit', {'id': email_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('email_group_new') }}">Create new</a>
{% endblock %}
