{% extends 'base.html.twig' %}

{% block header_title %}
    <span class="font-weight-semibold">EmailTemplate </span> - index
{% endblock header_title %}

{% block header_elements %}
    <a href="{{ path('email_template_new') }}" class="btn btn-primary" type="button"><i class="icon-plus3 mr-2"></i> Create new</a>
{% endblock header_elements %}

{% block body %}
<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="bg-slate">
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Subject</th>
                <th class="text-center">Sender Email</th>
                <th class="text-center">Sender Name</th>
                <th class="text-center">Status</th>
                <th class="text-center">Campaign</th>
                <th class="text-center">Updated At</th>
                <th class="text-center">Has Layout</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for email_template in email_templates %}

                <tr class="bg-light">
                    <td class="text-center">{{ email_template.id }}</td>
                    <td>{{ email_template.name }}</td>
                    <td>{{ email_template.subject }}</td>
                    <td class="text-center">{{ email_template.senderEmail }}</td>
                    <td class="text-center">{{ email_template.senderName }}</td>
                    <td class="text-center">{{ email_template.status ? '<span class="badge badge-primary">Active</span>' : '<span class="badge badge-secondary">Inactive</span>' }}</td>
                    <td class="text-center">{{ email_template.emailGroup.name }}</td>
                    <td class="text-center">{{ email_template.updatedAt|date('d-m-Y') }}</td>
                    <td class="text-center">{{ email_template.hasLayout ? 'Yes' : 'No' }}</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="javascript:void(0)" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{{ path('email_template_show', {'id': email_template.id}) }}" class="dropdown-item"><i class="icon-eye2"></i> Show</a>
                                    <a href="{{ path('email_template_edit', {'id': email_template.id}) }}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>
</div>
{% endblock %}
