{% extends 'base.html.twig' %}

{% block header_title %}
    <a class="btn-large" href="{{ path('email_template_index') }}"><i class="icon-arrow-left52 mr-2"></i></a>
    Email Template #{{ email_template.id }}
{% endblock %}

{% block body %}
    <div class="flex-fill overflow-auto">
        <!-- Single mail -->
        <div class="card">
            <!-- Action toolbar -->
            <div class="navbar navbar-light navbar-expand-lg shadow-0 py-lg-2 rounded-top">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler w-100 h-100" data-toggle="collapse" data-target="#inbox-toolbar-toggle-write">
                        <i class="icon-circle-down2"></i>
                    </button>
                </div>
                <div class="navbar-collapse text-center text-lg-left flex-wrap collapse" >
                    <div class="mt-3 mt-lg-0 mr-lg-3">
                        <a class="btn btn-outline-success btn-sm mr-1" href="{{ path('email_template_edit', {'id': email_template.id}) }}"><i class="icon-pencil"></i><span class="d-none d-lg-inline-block ml-2">edit</span></a>
                        <a class="btn btn-outline-success btn-sm mr-1" href="#"><i class="icon-paperplane"></i><span class="d-none d-lg-inline-block ml-2">Send sample</span></a>
                        <a class="btn btn-outline-success btn-sm mr-1" href="#"><i class="icon-file-pdf"></i><span class="d-none d-lg-inline-block ml-2">export</span></a>
                    </div>

                    <div class="mt-3 mt-lg-0 ml-lg-auto">
                        {{- include('email_template/_delete_form.html.twig') -}}
                    </div>
                </div>
            </div>
            <!-- /action toolbar -->

            <!-- Mail details -->
            <div class="card-body border-top">
                <div class="media flex-column flex-md-row">
                    <a href="#" class="d-none d-md-block mr-md-3 mb-3 mb-md-0">
                        <span class="btn bg-slate btn-icon btn-lg rounded-round">
                            <span class="letter-icon ">{{ email_template.senderName|slice(0, 1)|lower }}</span>
                        </span>
                    </a>

                    <div class="media-body">
                        <h6 class="mb-0">{{ email_template.subject }}</h6>
                        <div class="letter-icon-title font-weight-semibold">{{ email_template.senderName }} <a href="#">&lt;{{ email_template.senderEmail }}t&gt;</a></div>
                    </div>
                </div>
            </div>
            <!-- /mail details -->

            <!-- Mail details -->
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="align-top py-0" style="width: 15%">
                                <div class="py-2 mr-sm-3">Unice Identifier For Send:</div>
                            </td>
                            <td class="align-top py-0">
                                <div class="d-sm-flex flex-sm-wrap py-2 px-0 border-0 rounded-0">
                                    {{ email_template.identifier }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top py-0" style="width: 15%">
                                <div class="py-2 mr-sm-3">Name:</div>
                            </td>
                            <td class="align-top py-0">
                                <div class="d-sm-flex flex-sm-wrap py-2 px-0 border-0 rounded-0">
                                    {{ email_template.name }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top py-0" style="width: 15%">
                                <div class="py-2 mr-sm-3">Camapin:</div>
                            </td>
                            <td class="align-top py-0">
                                <div class="d-sm-flex flex-sm-wrap py-2 px-0 border-0 rounded-0">
                                    {{ email_template.emailGroup.name }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /mail details -->

            <!-- Mail details -->
            <div class="card-body border-top ">
                <iframe width="100%" height="100%" style="border: none" onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" frameborder="0" scrolling="no" src="{{ path('email_template_show_preview', {'id': email_template.id }) }}"></iframe>
            </div>
            <!-- /mail details -->
        </div>

        <!-- /single mail -->
    </div>
{% endblock %}
