{% extends 'base.html.twig' %}

{% block header_title %}Email Template #{{ email_template.id }}{% endblock %}

{% block body %}
    <div class="flex-fill overflow-auto">
        <!-- Single mail -->
        <div class="card">

            <!-- Action toolbar -->
            <div class="navbar navbar-light navbar-expand-lg shadow-0 py-lg-2 rounded-top">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler w-100 h-100" data-toggle="collapse" data-target="#inbox-toolbar-toggle-write">
                        <i class="icon-circle-down2"></i>
                    </button>
                </div>
                <div class="navbar-collapse text-center text-lg-left flex-wrap collapse" >
                    <div class="mt-3 mt-lg-0 mr-lg-3">
                        <a class="btn btn-outline-success btn-sm" href="{{ path('email_template_index') }}">back to list</a>
                    </div>

                    <div class="mt-3 mt-lg-0 ml-lg-auto">
                        <a class="btn btn-outline-success btn-sm" href="{{ path('email_template_edit', {'id': email_template.id}) }}"><i class="icon-pencil"></i><span class="d-none d-lg-inline-block ml-2">edit</span></a>
                        <button type="button" class="btn btn-outline-danger btn-sm"><i class="icon-bin"></i><span class="d-none d-lg-inline-block ml-2">Delete</span></button>
                    </div>
                </div>
            </div>
            <!-- /action toolbar -->


            <!-- Mail details -->
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="align-top py-0" style="width: 1%">
                                <div class="py-2 mr-sm-3">Identifier:</div>
                            </td>
                            <td class="align-top py-0">
                                <div class="d-sm-flex flex-sm-wrap py-2 px-0 border-0 rounded-0">
                                    {{ email_template.identifier }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top py-0" style="width: 1%">
                                <div class="py-2 mr-sm-3">Name:</div>
                            </td>
                            <td class="align-top py-0">
                                <div class="d-sm-flex flex-sm-wrap py-2 px-0 border-0 rounded-0">
                                    {{ email_template.name }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top py-0" style="width: 1%">
                                <div class="py-2 mr-sm-3">Camapin:</div>
                            </td>
                            <td class="align-top py-0">
                                <div class="d-sm-flex flex-sm-wrap py-2 px-0 border-0 rounded-0">
                                    {{ email_template.emailGroup.name }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top py-0" style="width: 1%">
                                <div class="py-2 mr-sm-3">Subject:</div>
                            </td>
                            <td class="align-top py-0">
                                <div class="d-sm-flex flex-sm-wrap py-2 px-0 border-0 rounded-0">
                                    {{ email_template.subject }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /mail details -->


            <!-- Mail container -->
            <div class="card-body p-0">

            </div>
            <!-- /mail container -->


            <!-- Attachments -->
            <div class="card-body border-top">

            </div>
            <!-- /attachments -->

        </div>
        <!-- /single mail -->

    </div>

    <table class="table">
        <tbody>


            <tr>
                <th>Body_html</th>
                <td>{{ email_template.bodyHtml }}</td>
            </tr>

            <tr>
                <th>Sender_email</th>
                <td>{{ email_template.senderEmail }}</td>
            </tr>
            <tr>
                <th>Sender_name</th>
                <td>{{ email_template.senderName }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ email_template.status }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ email_template.createdAt }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ email_template.updatedAt }}</td>
            </tr>
            <tr>
                <th>Has_layout</th>
                <td>{{ email_template.hasLayout ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('email_template/_delete_form.html.twig') }}
{% endblock %}
