{% import _self as _selfmacro %}

{% macro getLI(path, text) %}
    {% set active = app.request.attributes.get('_route') == path ? 'active' : ''  %}
    <li class="nav-item"><a href="{{ path(path) }}" class="nav-link {{ active }}">{{ text }}</a></li>
{% endmacro %}
{#{{ dump(groups_list()) }}#}
<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="javascript:void(0)" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="javascript:void(0)" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->

    <!-- Sidebar content -->
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Gorups</div> <i class="icon-menu" title="Gorups"></i></li>

                {% for list in groups_list() %}
                <li class="nav-item">
                    <a href="" class="nav-link"><span>{{ list.name }}</span></a>
                </li>
                {% endfor %}
                <!-- /main -->

                <!-- Layout -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Admin Area</div> <i class="icon-menu" title="Admin Area"></i></li>

                <li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
                    <a href="javascript:void(0)" class="nav-link"><i class="icon-user"></i> <span>User options</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Users options">
{#                        {{ _selfmacro.getLI('admin_user_index', 'Customer' ) }}#}
{#                        {{ _selfmacro.getLI('admin_user_admin', 'Admins' ) }}#}
                    </ul>
                </li>
            </ul>

        </div>
        <!-- /main navigation -->
    </div>
    <!-- /sidebar content -->
</div>
<!-- /main sidebar -->
